<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <%- include("./partials/nav") %> 
    
    <div class="container mt-3">
  <div class="row">
    <% blogs.forEach(blog => { %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <img 
            src="<%= blog.coverImageURL %>" 
            class="card-img-top"
            style="height:180px; object-fit:cover;"
          >
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <a href="/blog/<%= blog._id %>" class="btn btn-primary">
              View
            </a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
    
   <% -include("./partials/script") %>
  </body>
</html>
